*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}



.navbar {
    background-image: linear-gradient(#D3D3D3, #D3D3D3,#D3D3D3 );
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    color: #012169;
}

            /*horizntal css edit*/
hr {
    border: 3px solid gray;
    width: 50%;
    margin-left: 25%;
}
    
.vl {
    border: 3px solid gray;
    height: 500px;
  }
            
p {
    font-size: 20px;
    font-family: 'Abril Fatface';
    font-weight: bold;
    text-align: center;
    color: black;
}

  .icons a, .icons {
    color: white;
    padding: 10px;
    padding-top: 20px;
  }
  .logo{
    width: 100px;
    height: 30px;
    padding-bottom: 10px;
  }
/**************************************************************************************************/
            /*CARD 1*/
            /*BACKGROUND IMAGE EDIT*/ 
.card1 {
    background-image: url(img/m.png);
    background-size: cover;
    background-position: center;
    color: white;
    height: 730px;
    padding-top: 65px;
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
    
}
            /*HEADDING EDIT*/
.card1 h3 {
    text-align: center;
    padding-top: 10px;
    font-family: 'Abril Fatface'; font-size: 42px;
    font-weight: bold;

}


.animated::after{

    font-size: 2rem;
    content: "Developer";
    color: var(--main) ;
    animation: about 5s linear infinite;
  }
  @keyframes about {
    50%{ content: "Freelancer";

    }
    100%{ content: "Designer";

    }
  }


            /*CARD 1 CIRCLE IMAGE EDIT*/
.card1 img {
     border-radius: 100%;
     border: 5px solid #012169;
     width: 310px;
     height: 310px;
     display: block;
     margin-left: auto;
     margin-right: auto;
     padding-top: 6px;
     box-shadow: black 1px 1px 50px 1px;

}
            
.card1 hr {
    border: 3px solid white;
    width: 50%;
    margin-left: 25%;
}

/**************************************************************************************************/
            /*CARD 2*/

.card2 {
    background-image: url(img/white-concrete-wall.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    height: 700px;
    color: black;
    padding: 4%;
   
    
 
}
            /*TEXT edit in card 2*/
 .text-about {
     display: flex;
     text-align: center;
     justify-content: center;
     align-content: center;
     flex-direction: column;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: bolde;
     font-size: x-large;
    

 }
             /*HEADDING EDIT*/
.card2 h3 {
    padding-top: 35px;
    display: flex;
    justify-content: center;
    font-family: 'Abril Fatface'; font-size: 42px;
    font-weight: bold;
    color: #012169;
    
}
            /*card 2 description edit*/
hr {
    border: 3px solid gray;
    width: 50%;
    margin-left: 25%;
}


/**************************************************************************************************/
            /*CARD 3*/

.card3 {
    background-image: url(img/white-concrete-wall.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    height: 730px;
    color: black;
    padding: 5%;
}

.edu-cors {
    display: flex;
    width: 100%;
       
}

.edu {
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    width: 50%;
}
.cors {
    display: flex;
    padding-top: 80px;
    padding-left: 20px;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
}
          /*TEXT edit in card 3*/
.text {
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolde;
    font-size: larger;
           
}       

.card3 img {
    margin: auto;
    padding-top: 8px;
    width: 130px;
    height: 130px;
}
           /*HEADDING EDIT*/
.card3 h3 {
    text-align: center;
    padding-top:15px;
    font-family: 'Abril Fatface'; font-size: 42px;
    font-weight: bold;
    color: #012169;
}

.card3 h5 {
    text-align: center;
    padding-top:10px;
    font-family: 'Abril Fatface'; font-size: 42px;
    font-weight: bold;
    color: #012169;
}




/**************************************************************************************************/
            /*card 4*/

.card4 {
    background-image: url(img/white-concrete-wall.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    height: 730px;
    padding: 4%;
    width: 100%;
    color: black;
}

.exp-card {
    display: flex;
}
         /*TEXT edit in card 4*/
.exp-text {
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolde;
    font-size: x-large;
    width: 100%;
           
}     

          /*HEADDING EDIT*/
.card4 h3 {
    text-align: center;
    padding-top:40px;
    font-family: 'Abril Fatface'; font-size: 42px;
    font-weight: bold;
    color: #012169;
}

.exp-img {
    background-color:#012169;
    display: flex;
    margin-top: 80px;
    box-shadow: 0 10px 10px 8px rgba(0,0,0,0.2);
    width: calc(100% / 3);
    padding-top: 25px;
    border-radius: 8%;
    margin-left: 5%;
     opacity: 0.5;
    transition: 1s;
    color: white;


    
}

.exp-img:hover {
    opacity: 1;
    transform: scale(1.2 , 1.2);
    
  }

.orange {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
   
}
.eltzem {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
   
}
.injaz {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  
   
}

/**************************************************************************************************/
            /*card 5*/

.card5 {
    background-image: url(img/white-concrete-wall.jpg);
    background-size: cover;
    color: white;
    height: 730px;
    padding: 7%;
    color: black;
    width: 100%;
    
}

.skills {
    display: flex;
    width: 100%;
    
}
          /*HEADDING EDIT*/
.card5 h3 {
    text-align: center;
    padding-top:10px;
    font-family: 'Abril Fatface'; font-size: 42px;
    font-weight: bold;
    color: #012169;
}


            /*soft-skill edit*/
.soft-skill {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
   
}

.tech-skill {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
}



.contai {
        background-color: #012169;
        width: 30%;
        height: 10%;
        border-radius: 10px;
        border: solid rgb(255, 255, 255) 1px;
        margin: auto;
        font-size: 20px;
        font-family: 'Abril Fatface';
        font-weight: bold;
        text-align: center;
        color: whitesmoke;
        opacity: 1;
        transition: 1s;
    }
 
.contai:hover {
    opacity: 1;
    transform: scale(1.2 , 1.2);
    
  }



/**************************************************************************************************/
            /*card 6*/

.card6 {
    background-image: url(img/white-concrete-wall.jpg);
    background-size: cover;
    color: white;
    height: 730px;
    padding: 4%;
    color: black;
    width: 100%;
    z-index: 2;      
}   

.card-pos {
    display: flex;
    margin-top: 5%;
    width: 100%;
    
}

.frs {
    flex-direction: column;
    width: calc(100% /3);
}

.sco {
    flex-direction: column;
    width: calc(100% /3);
}

.thi {
    flex-direction: column;
    width: calc(100% /3);
}

.ref-card {

    background-color:#012169;
    box-shadow: 0 10px 10px 8px rgba(0,0,0,0.2);
    transition: 0.3s;
    width: calc(100% / 3);
    padding-top: 25px;
    border-radius: 8%;
    margin-left: 5%;
    opacity: 0.7;
    transition: 1s;
}

.ref-card:hover {
    opacity: 1;
    transform: scale(1.2 , 1.2);
  }

.ref-img {
    margin-left: 33%;
    padding-top: 10px;
    width: 130px;
    
}
  
        /*TEXT edit in card 6*/
.ref-text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolde;
    color: wheat;
    font-size: large;
    
    padding: 2px 16px;
    padding-top: 15px;
                   
}     
.ref-text p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolde;
    color: whitesmoke;
    font-size: large;
    width: 100%;
    padding: 2px 16px;
    padding-top: 15px;
                   
}     
        
        /*HEADDING EDIT*/
.card6 h3 {
    text-align: center;
    padding-top:40px;
    font-family: 'Abril Fatface'; font-size: 42px;
    font-weight: bold;
    color: #012169;
}

/**************************************************************************************************/
            /*card 7*/

.card7 {
    background-image: url(img/m.png);
    background-size: cover;
    background-position: center;
    color: white;
    height: 360px;
    padding: 1%;
}


.contact {
    display: flex;
    width: 100%;
}
 

.right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    
    font-size: x-large;
    margin-right:280px;
    
}

.left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    font-size: x-large;
   margin-left: 280px;
}

/***************************************************************************/
/*card8*/
.card8 {
    background-image: url(img/white-concrete-wall.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    height: 710px;
    padding-top: 3%;
    text-align: center;
    font-weight: bold;
    
}

        /*HEADDING EDIT*/
.card8 h3 {
    text-align: center;
    padding-top:40px;
    font-family: 'Abril Fatface'; font-size: 42px;
    font-weight: bold;
    color: #012169;
}

.language {
        padding-left: 33%;
}
.containe {
    background-color: rgb(192, 192, 192);
    width: 50%;
    border-radius: 15px;
    border: solid black 1px;
}

.lang {
    background-color: #012169;
    color: white;
    padding: 1%;
    text-align: right;
    font-size: 20px;
    border-radius: 15px;
}
.ar {
width: 95%;
}
.eng {
    width: 65%;
}


@media screen and (min-width: 320px) and (max-width: 768px)
{ 


    .vl {
        display: none;
    }


    .card3 {
        height: 100%;
        padding-top: 25%;
    }
    .edu-cors {
        width: 100%;
       flex-direction: column-reverse;
       justify-content: center;
       align-items: center;
       padding-top: 25px;
    }
    
    .edu {
        
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .cors {
        display: flex;
        padding-top: 0px;
        padding-left: 0px;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
    }


    .card4 {
        color: black;
        height: 100%;
    }

    .exp-card {
        display: flex;
        width: 90%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    
    .exp-img {
        display: flex;
        margin-top: 80px;
        box-shadow: 0 10px 10px 8px rgba(0,0,0,0.2);
        width: 100%;
        padding-top: 15px;
        border-radius: 8%;
        margin-left: 5%;
        opacity: 1;
      
    
        
    }
    
/***************************************************************/
    .card5 {
        height: 100%;
    }
    .skills {
        width: 100%;
       flex-direction: column;
       justify-content: center;
       align-items: center;
  
    }
    .contai {
        background-color: #012169;
        width: 100%;
        border-radius: 10px;
        opacity: 1;
    
    
    }
    .skills h3 {
        text-align: center;
        padding-top:30px;
        font-family: 'Abril Fatface'; font-size: 25px;
        font-weight: bold;
        color: #012169;
    }
    

/***************************************************************/
.card6 {
    height: 100%;
    padding: 4%;
    color: black;
    width: 100%;
    
                
}   

.card-pos {
    flex-wrap: wrap;
}

.frs {
    flex-direction: column;
    width: 100%;
}

.sco {
    flex-direction: column;
    width: 100%;
}

.thi {
    flex-direction: column;
    width: 100%;
}

.ref-text p {
    font-size: medium;
}
.ref-card {
    
    width: 100%;
    margin-top: 50px;
    margin-left: 0%;
    opacity: 1;
}
.ref-img {
    margin-left: 27%;
 
    
}
  

/***************************************************************/
.card7 {
    height: 75%;
}
.contact {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
 
.right {
    width: 100%;
    font-size: large;
    margin-right: 0px;
    margin-top: 0px;
}

.left {
    width: 100%;
    font-size: large;
    margin-left: 0px;
    margin-top: 0px;
}
/****************************************************************/
.language {
    padding-left: 10%;
}
.containe {
    background-color: rgb(192, 192, 192);
    width: 90%;
    border-radius: 15px;
    border: solid black 1px;
}
/****************************************************************/

}


@media screen and (min-width: 375px) and (max-width: 430px)
{ 
    
    .ref-img {
        margin-left: 31.5%;
     
        
    }
}

@media screen and (min-width: 480px) and (max-width: 768px)
{ 
    .edu {
        
       
        align-items: center;
        
    }
    .ref-img {
        margin-left: 40%;
     
        
    }
}
